 #background4 {
 	left: 0px;
 	top: 0px;
 	position: relative;
 	margin-left: auto;
 	margin-right: auto;
 	width: 1024px;
 	height: 2120px;
 	overflow: hidden;
 	z-index: 0;

 }

 #fundo4 {
 	left: 0px;
 	top: 0px;
 	position: absolute;
 	width: 1024px;
 	height: 2120px;
 	z-index: 1;
 	background-color: #6F0C81;
 }

 #GelaSorvetinho {
 	left: 372px;
 	top: 243px;
 	position: absolute;
 	width: 566px;
 	height: 119px;
 	z-index: 2;
 }

 #BonecaSF {
 	left: 53px;
 	top: 76px;
 	position: absolute;
 	width: 279px;
 	height: 386px;
 	z-index: 3;
 }

 #Face {
 	left: 338px;
 	top: 729px;
 	position: absolute;
 	width: 141px;
 	height: 141px;
 	z-index: 4;
 }

 #Insta {
 	left: 539px;
 	top: 729px;
 	position: absolute;
 	width: 138px;
 	height: 138px;
 	z-index: 5;
 }

 #Formulario {
 	left: 173px;
 	top: 937px;
 	position: absolute;
 	width: 677px;
 	height: 510px;
 	z-index: 6;
 }

 #Formulario p {
 	color: #d273a8;
 	font-family: Arial, Helvetica, sans-serif;
 	font-size: 28px;
 }

 #Formulario input {
 	width: 637px;
 	border-radius: 10px;
 	padding: 20px 20px;
 	margin-bottom: 15px;
 	font-size: 30px;

 }

 #Formulario input:focus {
 	outline: none;
 }

 #Formulario input[type="text"] {
 	background: none;
 	border: 1px yellow solid;
 	color: #fff;
 }

 #Formulario input[type="submit"] {
 	background: #a60268;
 	width: 680px;
 	border: none;
 	color: #fff;
 	padding: 20px 0;
 }

 #Cardoso {
 	left: 172px;
 	top: 1764px;
 	position: absolute;
 	width: 676px;
 	height: 227px;
 	z-index: 7;
 }

 #Cardoso ul li {
 	list-style: none;
 }

 #linha4 {
 	left: 84px;
 	top: 1640px;
 	position: absolute;
 	width: 852px;
 	height: 8px;
 	z-index: 8;
 }

 #Parasabermais {
 	left: 173px;
 	top: 578px;
 	position: absolute;
 	width: 676px;
 	height: 109px;
 	z-index: 9;
 }

 #Formulario .receberZap {
 	margin-top: 30px;
 }

 input[type=checkbox] {
 	transform: scale(1.5);
 }

 #Formulario .receberZap input,
 .receberZap p {
 	float: left;
 }

 #Formulario .receberZap input {
 	width: 20px;
 	margin-top: 10px;
 	font-size: 30px;
 }

 #Formulario .receberZap p {
 	width: 650px;
 	margin-top: 3px;
 	font-size: 24px;
 }

 ::-webkit-input-placeholder {
 	color: #fff;
 }

 :-moz-placeholder {
 	/* Firefox 18- */
 	color: #fff;
 }

 ::-moz-placeholder {
 	/* Firefox 19+ */
 	color: #fff;
 }

 :-ms-input-placeholder {
 	color: #fff;
 }